* {
  margin: 0;
  padding: 0;
}

.deer01 {
  position: absolute;
  left: 450px;
  top: 250px;
}

.deer02 {
  position: absolute;
  left: 300px;
  top: 100px;
}

.deer03 {
  position: absolute;
  left: 250px;
  top: 300px;
}

.deer04 {
  position: absolute;
  left: 150px;
  top: 200px;
}

.floatComp {
  position: absolute;
  left: 50px;
  top: 300px;
}

.portal {
  position: absolute;
  left: 100px;
}

.brain {
  position: absolute;
  bottom: 650px;
}

.palmTrees {
  position: absolute;
  bottom: 300px;
  right: 200px;
}
