body {
  font-family: "IBM Plex Mono", monospace;
  background-image: url("assets/gradient.jpg");
  padding: 40px;
}
h1,
h2 {
  font-family: "IBM Plex Sans";
}

#all {
  width: 950px;
  margin-left: auto;
  margin-right: auto;
}

#presentations,
#projects {
  width: 475px;
  height: 350px;
  float: left;
}

#exercises,
#thoughts {
  float: left;
  width: 475px;
  padding-top: 100px;
}

/* unvisited link */
a:link {
  color: black;
}

/* visited link */
a:visited {
  color: blue;
}

/* mouse over link */
a:hover {
  color: gray;
}
